/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* END RESET CODE */
* {
    box-sizing:border-box;
}
html {
    background-color: #000000;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 485px;
    width: 100%;
    margin: 0 auto;
}
p {
    font-size: 1.25em;
    padding: 10px;
}
figcaption, label, input, small {
    font-size: 1em;
}
nav ul {
    background-color: #000000;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
nav a {
    font-size: 1.5em;
    text-decoration: none;
    color: #ffffff;
    margin-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;
}
nav a:hover {
    background-color: #007d7b;
}
[href="#top"] {
    position:fixed;
    bottom:0px;
    right:0px;
    border-radius:10px 0 0px 0px;
}
h1 {
    font-size: 3em;
    color: #007d7b;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    padding: 10px;
}
h2 {
    font-size: 2em;
    text-align: center;
    margin: 10px;
    font-weight: bold;
}
h1, h2, nav a {
    text-transform: uppercase; 
}
#mainbackground {
    background-color: #ffffff;
    padding: 0 20px;
    align-items: center;
}
img {
    display: block;
}
figcaption {
    text-align: center;
    text-transform: uppercase;
}
#contact {
    color: #ffffff;
}
legend {
    visibility: hidden;
}
input::placeholder {
    color: #007d7b;
}


footer {
    color: #ffffff;
    text-align: center;
}
